<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add New Dog</h1>
    <form action="/dogs" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" required />
      <label for="age">Age:</label>
      <input type="number" name="age" id="age" />
      <label for="isFriendly">Friendly:</label>
      <input type="checkbox" name="isFriendly" id="isFriendly" />
      <button type="submit">Add Dog</button>
    </form>
  </body>
</html>
